<script>
var ready = (callback) => {
if (document.readyState != "loading") callback();
else document.addEventListener("DOMContentLoaded", callback);
}
ready(() => {
	spaceopen();
});

function spaceopen() {

	fetch("https://status.metameute.de/status/spaceapi.json")
	.then(function(resp) {return resp.json();})
	.then(function(data) {
		console.log(data);
		if(data.open) {
		document.querySelector("#spaceopen").style.border = "3px solid green";
		document.querySelector("#spaceopen").innerHTML = "<img src='{{ absURL "/icons/meute-icon.png"}}' id='space-open'><span>{{ i18n "space_status_open"}}</span><a href='http://status.metameute.de/' target='_blank'>Status</a>";
		} else {
		document.querySelector("#spaceopen").style.border = "3px solid red";
		document.querySelector("#spaceopen").innerHTML = "<img src='{{ absURL "/icons/meute-icon.png"}}' id='space-close'><span>{{ i18n "space_status_closed"}}</span><a href='http://status.metameute.de/' target='_blank'>Status</a>";
		}
	}).catch(error => {

	});
}
</script>

<div id="spaceopen">
	<div class="no-js">
		<p>{{ i18n "space_status_nojs_first"}} <a href='https://status.metameute.de' target='_blank'>{{ i18n "space_status_nojs_second"}}</a></p>
		<p>{{ i18n "space_status_nojs_third"}}</p>
	</div>
</div>
